---
import BaseHead from '../../components/BaseHead.astro';
import Sidebar from '../../components/Sidebar.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Blog"} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex min-h-screen w-full flex-col">
    <div class = "grow md:flex">
      <Sidebar />
      <ul class="w-full md:w-3/4 md:max-w-2xl pl-8 pt-8">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}/`}>
                <div class = "mb-8"> 
                  <h4 class="font-bolder">{post.data.title}</h4>
                  <img class= "w-3/4" src={post.data.heroImage} alt="" />
                  <p>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <Footer />
	</body>
</html>
